@using TourOperator.Models.Entities
@using TourOperator.Extensions

@model TourOperator.Models.Entities.Hotel

@{
    ViewData["Title"] = "Hotels";
}

<div class="text-center">
    <h1 class="display-4">@Model.Name</h1>
    
    @foreach (Room room in Model.Rooms)
    {
        <div class="room-item">
            <p>@room.Name</p>
            <p>£@room.Price</p>
            
            @if (User.Identity!.IsAuthenticated)
            {
                if (Context.Session.GetObject<Room>("PackageRoom")?.Id == room.Id)
                {
                    <i class="bi bi-bag-check"></i>
                }
                using (Html.BeginForm("AddRoomToPackage", "Auth", FormMethod.Post))
                {
                    <input type="hidden" name="roomId" value="@room.Id"/>
                    <input type="submit" value="Add To Package"/>
                }
            }
        </div>
    }
</div>