@using TourOperator.Contexts
@using Microsoft.EntityFrameworkCore
@{
    ViewData["Title"] = "Hotels";
    TourDbContext _tourDbContext = ViewBag.Message["tourDb"];
}

<div class="text-center">
    <h1 class="display-4">Hotels</h1>
    
    @foreach(Hotel hotel in _tourDbContext.Hotels.ToList()) {
        <div class="hotel-item">
            <h2>@hotel.Name</h2>
            <h3>@hotel.Description</h3>
            <h3>
                @(
                    _tourDbContext.Operators
                        .Single(o => o.Id == hotel.OperatorId)
                        .Name
                )
            </h3>
            
            <a class="btn btn-secondary nav-link text-dark" asp-area=""
               asp-controller="View" asp-action="Hotel"
               asp-route-hotelId="@hotel.Id">More Info</a>

        </div>
    }
</div>