@using TourOperator.Contexts
@using Microsoft.EntityFrameworkCore
@using TourOperator.Models.Entities
@{
    ViewData["Title"] = "Hotels";
    Hotel _hotel = ViewBag.Message["hotel"];
    TourDbContext _tourDbContext = ViewBag.Message["tourDb"];
}

<div class="text-center">
    <h1 class="display-4">@_hotel.Name</h1>
    
    @foreach (Room room in _hotel.Rooms)
    {
        <div class="room-item">
            <p>@room.Name</p>
            <p>£@room.Price</p>
            
            @using (Html.BeginForm("AddRoom", "Auth", FormMethod.Post))
            {
                <input type="hidden" name="referrer" value="/Hotel/@_hotel.Id"/>
                <input type="hidden" name="roomId" value="@room.Id"/>
                <input type="submit" value="Add To Basket"/>
            }
        </div>
    }
</div>