@{
    ViewData["Title"] = "Register";
}

<div class="text-center">
    <form action="/auth/register" method="post">
        <label for="username">Username: </label>
        <input name="username" id="username">
        <br/>
        
        <label for="password">Password: </label>
        <input name="password" id="password" type="password">
        <br/>
        
        <label for="password2">Password (Repeated): </label>
        <input name="password2" id="password2" type="password">
        <br/>
        
        <input class="btn btn-primary" type="submit" value="Login"/>
    </form>
</div>